body
{
    margin: 0px;
    padding: 0px;
	font-family: 'Roboto', sans-serif;
}
html
{scroll-behavior: smooth;}
.wrapper
{
    width: 100%;
    height: 3160px;
    background: #121212;
            
}
.menu
{
    width: 100%;
    height: 60px;
    position: sticky;
    top:0;
    background: rgba(75,75,75,0.60);
    color: aliceblue;
    z-index:100;
}
.logo-1
{
    width: 20%;
    height: 60px;
    font-family: 'Lobster', cursive;
    text-transform: uppercase;text-align: center;
    line-height: 60px;
    float: left;
    font-weight: 600;
    font-size: 40px;
}
.menu ul
{
    width: 40%;
    list-style: none;    
    margin:0 auto;
    float: right;
}
.menu ul li
{
    display: inline-block;
    margin: 0 6%;
    line-height: 60px;
}
.menu ul li a
{
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    
}
.menu ul li:hover a
{
    color: cornflowerblue;
    
}
.home
{
    width: 100%;
    height: 700px;
	float: left;
	background: url(../image/foggy-forest-5.png);
	background-size: 100%;	
	font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.home h2
{
    position: absolute;
    top: 20%;
    left: 38%;
    text-transform: uppercase;
    font-size: 10rem;
    font-weight: 200;
}
.home h1 
{
    
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.4;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 550px;
}

.home h1 span {
    font-size: 40px;
    margin-left: 50px;
    color: aliceblue;
}

.home .message {
    background-color: whitesmoke;
    color: #333;
    display: block;
    font-weight: 1000;
    overflow: hidden;
    position: absolute;
    padding-left: 0.4rem;
    top: 0.2rem;
    left: 270px;
    animation: openclose 5s ease-in-out infinite;
}

.word1, .word2, .word3 {
  font-family: 'Roboto', sans-serif;
}

@keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      top: 0.2rem;
        width: 0;
    }
    15% {
        width: 300px;
    }
    30% {    
        top: 0.2rem;
        width: 300px;
    }
    33% {
        top: 0.2rem;
        width: 0;
    }
    35% {
        top: 0.2rem;
        width: 0;
    }
    38% {
        top: -5.55rem;		 
        
  }
    48% {
        top: -5.55rem;
        width: 180px;
    }
    62% {
      top: -5.55rem;
      width: 180px;
    }
    66% {
        top: -5.55rem;
        width: 0;
        text-indent: 0;
    }
    71% {
        top: -11rem;
        width: 0;
        text-indent: 5px;
    }
    86% {
        top: -11rem;
        width: 250px;
    }
    95% {
        top: -11rem;
        width: 250px;
    }
    98% {
        top: -11rem;
        width: 0;
        text-indent: 5px;
    }
    100% {
        top: 0;
        width: 0;
        text-indent: 0;
    }
}
.about
{
    width: 100%;
    height: 900px;
	float: left;
}
.about-us
{
	width: 100%;
	height: 685px;
	background: #121212;
}
.about-us-l
{
	width: 40%;
	height: inherit;
	margin: 0;
	padding: 0;
	z-index: 48;
	float: left;
}
.au-bg
{
	width: 65%;
	height: 450px;
	background: white;
	position: relative;
	top: 7vh;
	left: 16vw;
	z-index: 49;
	
}
.au-img
{
	background: #00E0C1 url("../image/Layer 4.png");
	background-repeat: no-repeat;
    overflow: hidden;
	background-size: 100%;
    transform: rotateY(180deg);
	width: 60%;
	height: 500px;
	z-index: 50;	
	position: relative;
	top:-32vh;
	left: 14vw;
	
}
.about-us-r
{
	width: 60%;
	height: inherit;
	padding-left: 5vw;
	padding-top: 10vh;
	padding-right: 3vw;
	box-sizing: border-box;
	color: aliceblue;
	float: right;
/*	background: #B70003;*/
}
.about-us-r h2
{
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
}
.about-us-r p
{
	font-size: 20px;
}
.box
{
	width: 80%;
	height: 215px;
	background: #121212;
    color: aliceblue;
	float: left;
    margin-left: 10%;
}
.box .col-md-4 {
  text-align: center;
  padding-bottom: 50px;
  border-right: 1px solid white;
}

.box .col-md-4:last-child {
  border-right: 0px solid black;
}

.box .counter {
  animation-duration: 1s;
  animation-delay: 0s;
}

.box i {
  font-size: 50px !Important;
}

 @media (max-width: 900px) {
  .box .col-md-4 {
    border-right: 0px dashed black;
    border-bottom: 1px dashed black;
    width: 50%;
    margin: auto auto;
  }
  
.box  .col-md-4:last-child {
    border-bottom: 0px dashed black;
  }
}	
.services
{
    width: 100%;
    height: 940px;
	float: left;
}
.services
{
    width: 100%;
    height: 820px;
	background: #121212;
	color: aliceblue;
}
.services-m
{
	width: 80%;
	height: 820px;
	text-align: center;
	margin: 0 auto;
/*	background: #00AF86;*/
}
.l-box
{
	width: 100%;
	height:300px;
	float: left;
	padding-top: 30px;
/*	background: #1900F3;*/
/*	box-sizing: border-box;*/
	margin-top: 10px;
    box-sizing: border-box;
}
.s-box
{
	width: 25%;
	height: 280px;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	padding-top: 30px;
/*	background: #BD0003;*/
	margin-right:5%;
    margin-left: 3.75%;
	border-radius: 4px;
	float: left;
	text-align: center;
	font-size:20px;
}
.s-box:last-child
{
	margin-right:  0% !important;
}
.s-box i
{
    font-size: 40px;
}
.s-box a{
	text-decoration: none;
	color: aliceblue;

}

.contact
{
    width: 100%;
    height: 760px;
	background: #121212;
	float: left;
}
.cc-m
{
	width: 80%;
	height: 760px;
	padding-top: 100px;
/*	background: #FC0004;*/
	margin: 0 auto;
}
.cc-l
{
	width: 60%;	
	padding-top: 20%;
	background: #121212;
	float: left;
}
.cc-l
{
	position: relative;
    color: aliceblue;
}
#name
{
	float: left;
	width: 80%;
	height: 5vh;
	background: #121212;	
	position: absolute;
	top: 25%;
	left: 10%;
	border: 1px solid #FFFFFF;
    color: aliceblue;
}
#mail
{
	float: left;
	position: absolute;
	width: 38%;
	height: 5vh;
	background: #121212;	
	top: 42%;
	left: 10%;
	border: 1px solid #FFFFFF;
}
#subject
{
	float: left;
	position: absolute;
	width: 38%;
	height: 5vh;
	background: #121212;	
	top: 42%;
	left: 52%;
	border: 1px solid #FFFFFF;
}
.cc-l textarea
{
	float: left;
	position: absolute;
	border: 1px solid #FFFFFF;
	background: #121212;
	width: 80%;
	height: 20vh;
	top: 60%;
	left: 10%;
	font-size: 20px;
}
input[type=submit]
{
	position: absolute;
	border: 1px solid #FFFFFF;
	background: #FFFFFF;
    color: black;
	width: 80%;
	height: 40px;
	top: 125%;
	left: 10%;
    float: left;
}
.cc-r
{
	width: 30%;	
    height: 70%;
	margin-top: 5%;
    margin-right: 10%;
    padding: 2% 1%;
	background: #121212;
	float: right;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
    color: aliceblue;
}

.cc-box-l
{
    float: left;
    list-style: none;    
    
}
.cc-box-l li
{
    padding-bottom: 15vh;
    
}

.cc-box-l i
{   
    
    font-size: 60px;
    margin-right: 20px;
    text-align: left;
    float: left;
}
.cc-box-l p
{   
    
    font-size: 25px;
    margin-right: 20px;
    text-align: left;
    float: left;
}

