*{
    margin:0;
    padding:0;
}
@font-face {
  font-family: font1;
  src:url("../Font/Sriracha-Regular.ttf")
}
#wrapper{
    width: 1920px;
    height: 4536px;
    background: rgba(255,245,0,1.00);    
}
#head{
    width: 1920px;
    height: 966px;
    background: url(https://free4kwallpapers.com/uploads/originals/2020/02/03/maldives-beach-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 966px;
    background-blend-mode:luminosity;
}
.banner{
    width: 1340px;
    height: 966px;
    margin: 0 auto;
    background: rgba(19,228,255,0.20);
    
}
.top-header{
    width: 1340px;
    height: 110px;
    background:#FFFFFF ;    
    position: sticky;
    border-bottom:1px solid #46E5FF;

}
.banner .top-header .box1{
    font-family: font1;
    width: 410px;
    height: 70px;
    background: #FFFFFF;
    float: left;
    padding-left: 10px;
}

.box1 ul{
    list-style: none;    
}
.box1 ul li{
    float: left;
    margin-right: 10px;    
}
.banner .top-header .logo{
    width: 160px;
    height: 50px;
    background: url("../image/logo.png");
    float:left;
    background-repeat: no-repeat;
    margin-left: 170px;
    margin-top: 30px
    
}
.banner .top-header .box2{
    width: 450px;
    height: 110px;
/*    background: #299B13;*/
    float: right;
}
.box2 ul{
    list-style: none;
}
.box2 ul li{
    float: Left;
    margin-left: 30px;
    margin-top: 20px;
    Font-size: 25px;  
}
.box2 ul li a{
    font-family: font1;
    text-decoration: none;
    color: #000000;
}
.title{
    width: 1340px;
    height:580px;
/*    background: rgba(102,27,28,1.00);*/
    margin-top: 276px;
    text-align: center;
    font-family: font1;
}
.title button{
    border-radius: 7px;
    border: none;
    width: 200px;
    height: 20px;
    font-size: 18px;
    background: rgba(255,255,255,0.36);
}
.title h1{
    font-size: 50px;
    color:aliceblue;
}
.title h3{
    font-size: 25px;
    font-display: swap;   
}
/*Head*/


#body{
    width: 1920px;
    height: 3370px;
    background: rgba(255,251,251,1.00);
}
.body-main{
    width: 1340px;
    height: 2550px;
/*    background: rgba(236,98,255,1.00);*/
    margin: auto;
}
.about-us{
    width: 1340px;
    height: 850px;
/*    background: rgba(41,255,39,1.00);*/
 }
.au-img{
    width: 540px;
    height: 830px;
    background: url("../image/slide.png");
    background-size: 540px;
    float:left;
    margin-top: 10px;
    border-radius: 20px;
}
.au-text{
    width: 800px;
    height: 530px;
    float:right;
/*    background: rgba(220,223,127,1.00);*/
    margin-top:150px;
    font-family: font1;
}
.au-text button{
    width: 150px;
    height:50px;
    margin-left:30px;
    border: none;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 29%, rgba(0,212,255,1) 100%);
    border-radius: 20px;   
}
.au-text button a{
    text-decoration: none;
    color: aliceblue;
    font-size:20px;
}
.what-we-do{
    width: 1340px;
    height: 1700px;
/*    background: rgba(255,172,53,1.00);*/
    margin-top:10px;
}
.img-work1{
    width: 1340px;
    height: 600px;
/*    background: rgba(35,33,199,1.00);*/
    margin-top: 100px;
    margin-bottom: 100px;
}
.img1{
    width: 325px;
    height: 600px;
    background: url("../image/img4.png");
    float: left;
    
}
.img2{
    width: 660px;
    height: 600px;
/*    background: blue;*/
    float: left;
    margin-left:10px;
}
.img2-1{
    width: 660px;
    height: 295px;
    background: url("../image/img3.png");
}
.img2-2{
    width: 600px;
    height: 295px;
    background: url("../image/img2.png");
    margin-top:10px;
    margin-left:30px;
    background-repeat: no-repeat;
}
.img3{
    width: 325px;
    height: 600px;
    background: url("../image/img1.png");
    float: left;
    margin-left:10px;
}
.img-work2{
    width: 1340px;
    height: 600px;
/*    background: rgba(52,255,56,1.00);*/
}
.img4{
    width: 325px;
    height: 600px;
    background: url("../image/img5.png");
    float: left;
    
}
.img5{
    width: 325px;
    height: 600px;
    background: url("../image/close-up-of-coffee-cup-on-table-312418.jpg");
    background-size:325px 600px;
    background-repeat: no-repeat;
    float: left;
    margin-left:25px;
}
.img6{
    width: 660px;
    height: 600px;
    background: url("../image/img6.png");
    float: left;
    margin-left:5px;
}
.news{
    width: 1340px;
    height: 780px;
/*    background: rgba(39,50,255,1.00);*/
    margi-top:10px;
}
.news-box{
    width: 380px;
    height: 540px;
/*    background: rgba(82,0,1,1.00);*/
    float:left;
    margin-top: 100px;
    margin-left: 47px;
}
.new-img{
    width: 380px;
    height: 280px;
/*    background: rgba(84,252,255,1.00);*/
}
.new-text{
    width:380px;
    height:260px;
/*    background: rgba(154,127,128,1.00);*/
    box-shadow: -19px 18px 21px 0px rgba(214,214,214,1);
}
.new-text h2{
    font-size: 26px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.new-text p{    
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.news a{
    text-decoration: none;
    color: black;
}
/*BODY*/

/*Footer*/
#footer{
    width: 1920px;
    height: 200px;
    background: rgba(191,191,191,1.00);
}
.contracts{
    height: 180px;
    width: 670px;
/*    background: rgba(39,126,60,1.00);*/
    float:left;
    margin-left:200px;
    margin-top: 20px;
}
.social{
    height:100px;
    width: 300px;
/*    background: rgba(185,67,69,1.00);*/
    float:right;
    margin-top: 30px;
    margin-right: 100px;
}
.social ul{
    list-style: none;
    mix-blend-mode: darken;
}
.social ul li{
    float:left;
    margin-right: 20px;
}
.contracts p{
    margin-top: 15px;
}
.contracts a{
    text-decoration: none;
    color:rgba(49,49,49,1.00);
    margin-left: 30px;
}